
# Flask
APP_NAME=App
APP_SUPPORT_EMAIL=support@app.com
FLASK_SECRET_KEY=
JWT_SECRET_KEY=
PROTOCOL=http
PROD_APP_URL=
PROD_APP_LOGO_URL=
PROD_APP_RESET_PASSWORD_URL=
PROD_APP_LOGIN_URL=
MAIL_SERVER=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=support@app.com
MAIL_SENDER_NAME=App
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PROD_APP_GOOGLE_REDIRECT=

# Postgres
PG_HOST=pg
PG_PORT=5432
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
PGDATA=/var/lib/postgresql/data/db-files/

# Grafana
GF_SECURITY_ADMIN_PASSWORD=

# RabitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
